* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #171941;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .warraper {
    width: 400px;
    min-height: 300px;
    background-color: #253159;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px;
}

.main .warraper h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #fff;
}

.main .warraper form {
    margin: 10px;
}

.main .warraper form div {
    margin: 10px 0px;
}

.main .warraper form div label {
    font-size: 18px;
    color: #fff;
}

.main .warraper form div input,
textarea {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.main .warraper form div input:focus,
textarea:focus {
    border: 2px solid #abaadb;
}

.main .warraper form div textarea {
    resize: none;
}

.main .warraper form button {
    width: 100%;
    background-color: #304dd1;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.main .warraper form button:hover {
    background-color: #3b1cac;
}

.tasklist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tasklist .task {
    width: 400px;
    min-height: 300px;
    background-color: #253159;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px;
}

.tasklist .task div {
    width: 90%;
    background-color: #fff;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.tasklist .task div h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
}

.tasklist .task div p {
    text-align: justify;
}